<div class="container my-5 ">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/imgabout.png" class="img-fluid">
    </div>

    
    <div class="col-sm-12 col-md-6 col-lg-6">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Fullstack Dev Jr</p>
        <p>Tengo 23 años y vivo en Córdoba capital. Soy estudiante
            de Traductorado de Inglés en la UNC y también me estoy formando
            en programación. Cursé las dos etapas de Argentina Programa y 
            recibí un certificado que avala mis conocimientos como FullStack
            Developer Jr.
        </p>
        
    
    </div>
    </div>
</div>

