.container{
    
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto Mono";
    
}

div img{
    
    
    border-radius: 8px;
    box-shadow:5px 5px 5px black;
}

div p{
    color: #fff;
    
    margin-top: 100px;
    margin-right: 50px;
    text-align: center;
    font-weight: bolder;
    background-color: rgba(54, 11, 133, 0.664);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    transition: .5s;

}

div p:hover{
    transform: translate(10px, 10px);
}



