.nav{
    background-color: rgba(4, 4, 41, 0.87);
    margin: 0;
    width: 100%;
    position: fixed;
    
}

app-social{
    float:right;
    margin-top: 25px;
}


.banner{
    
    border-radius: 8px;
    background: linear-gradient(rgba(37, 12, 105, 0.7), rgba(9, 29, 95, 0.7)), url("../../../assets/imgfondo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left:0px;
    padding-right:0px;
}

.btn{
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}


