
<div class="container-fluid" style="margin: 0;">
    <div class="nav row min-vw-100 ">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <app-logo-ap></app-logo-ap>
    <app-social></app-social>
    <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
</div>
</div>
</div>


<div class="container-fluid justify-content-center">
<div class="row banner min-vw-100">

    <div class="col-sm-12 col-md-12 col-lg-12">
    <app-banner></app-banner>

</div>
</div>

</div>



