<div class="container my-5">
    <div class="row">
        <h2>Educación</h2>
        <div class="edu">
            <ul>
                <li>Escuela Secundaria N°16 "Prof Gerardo Victorín" <br>
                    Egresada en 2016</li>
                <li>Traductorado Público Nacional de Inglés - UNC Facultad de Lenguas <br>
                En curso </li>
                <li>Certificado First de Inglés otorgado por Saint Louis School <br>
                    2018</li>
                <li>Certificado Fullstack Developer Jr - Argentina Programa <br>
                    2022</li>
            </ul>
        </div>
    </div>
</div>
