<div class="container my-5">
    <div class="row">
        <h1>Proyectos</h1>
        <div class="text-center col-sm-12 col-md-6 col-lg-6">
            <h3><a href="https://meleromero.github.io/portfolio/" target="_blank">Portfolio alternativo</a></h3>
            <p>
            
            Primer intento de hacer un porfolio utilizando solamente HTML, CSS y JavaScript <br>
            Realizado en julio de 2022.</p>
        </div>

        <div class="text-center col-sm-12 col-md-6 col-lg-6">
            <h3><a href="#">Portfolio Argentina Programa</a></h3>
            <p>Portfolio a presentar como proyecto final del curso
                Argentina Programa. <br>
                Realizado en agosto de 2022.
            </p>
        </div>
        
    </div>
</div>
