.container{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
height: 80vh;
border-radius: 8px;
    box-shadow:5px 5px 5px black;
    transition: .5s;
    font-family: "Roboto Mono";
}

.container:hover{
    transform: translate(10px, 10px);
}

h1{
    color: #fff;
    margin-top: 20px;
    text-align: center;

}

a{
    color: black;
    transition: .5s;
}
a:hover{
    color: #fff;
}

h3{
    margin-top: 20px;
}


p{
    margin-top: 20px;
    color: #fff;
    font-weight: bolder;
}